<div class="container flex justify-center py-20 mx-auto">
    <form action="POST" class="border rounded shadow-lg px-40  py-16  w-fit">
        <h1 class="text-2xl  font-bold text-center pb-5">Login</h1>
        <div class="flex flex-col ">
            <label for="login" class="text-base mr-4 mb-1">Login:</label>
            <input type="text" name="login" class="border w-72 border-slate-300 rounded-md py-3 px-2 outline-none focus:border-slate-400">
        </div>
        <div class="flex flex-col mt-5">
            <label for="login" class="text-base mr-4 mb-1">Password:</label>
            <input type="password" name="login" class="border border-b-slate-300 rounded-md py-3 px-2 outline-none focus:border-slate-400">
        </div>
        <div class="mt-2">
            <p>I have an account. <a href="/registration" class="text-cyan-500 hover:underline">Register here</a></p>
        </div>
        <button type="submit" class="w-full bg-cyan-500 text-purple-100 rounded-xl border border-cyan-500 px-5 py-2 font-bold mt-6 transition ease-in-out duration-300 hover:bg-transparent hover:text-cyan-500">Sign in</button>
    </form>
</div>